<%= form_for(@legaldescription) do |f| %>
  <% if @legaldescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@legaldescription.errors.count, "error") %> prohibited this legaldescription from being saved:</h2>

      <ul>
      <% @legaldescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :ldescription %><br>
    <%= f.text_area :ldescription %> -->

    <div class="field">
    <%= f.label :ldescription, class: 'field-label' %>
    <div class="field">
    <%= collection_select( :legaldescription, :legalmaster_id, Legalmaster.all, :id, :lmname, {}, { :multiple => false } ) %>
    </div>
</div>
<div class="field">
    <%= f.label :ldescriptioncountry, class: 'field-label' %>
    <div class="field">
    <%= collection_select( :legaldescription, :legalcountry_id, Legalcountry.all, :id, :countryname, {}, { :multiple => false } ) %>
    </div>

  </div>
  <div class="field">
    <%= f.label :ldesc_createdby %><br>
    <%= f.number_field :ldesc_createdby %>
  </div>
  <div class="field">
    <%= f.label :ldesc_modifiedby %><br>
    <%= f.number_field :ldesc_modifiedby %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
