<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @secondary.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @secondary.description %>
</p>

<p>
  <strong>Height:</strong>
  <%= @secondary.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @secondary.width %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @secondary.depth %>
</p>

<p>
  <strong>Distance from:</strong>
  <%= @secondary.distance_from %>
</p>

<p>
  <strong>Distance end:</strong>
  <%= @secondary.distance_end %>
</p>

<%= link_to 'Edit', edit_secondary_path(@secondary) %> |
<%= link_to 'Back', secondaries_path %>
