<h1>Editing Master</h1>

<%#= render 'form' %>
<%= form_for(@master, url: master_edit_path) do |f| %>
  <% if @master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master.errors.count, "error") %> prohibited this description from being saved:</h2>

      <ul>
      <% @master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', master_show_path %> 
<%= link_to 'Back', root_path %>