<% if @master.present? %>
<table border=1>
<!-- 	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Master table count</th>
		<th>Delete</th>
		<th>Edit</th>
		<th>Add new Secondary</th>
		<th>View All the Secondary Data</th>
	</tr> -->

	<% @master.each do |m| %>
	<tr>
		<td><%= m.name %></td>
		<td><%= m.description %></td>
		<!-- <td><%#= m.secondaries.count %></td> -->
		<td><%= link_to "Delete", masters_delete_path(m), method: :delete, data: { confirm: 'Do you want to delete it ?' } %></td>
		<td><%= link_to "Edit", master_edit_path(m) %></td>
		<td><%= link_to "Add", master_secondary_new_path(m) %></td>
		<td><%= link_to "View", master_secondary_index_path(m) %></td>
	</tr>	
	<% end %>
</table>
<% else %>
	<%= "No Result Found" %></br>
<% end %>


<div id="demo"></div>
